<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SBS Home Page</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Icons -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <!-- AOS Animation -->
    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../static/assets/css/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="../../assets/images/SBS_Logo_transparentbg_notext.png"
            alt="Your Logo"
            height="80"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Datasets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">API Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign-Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
      <!-- Hero Section -->
      <div class="hero-section">
        <video playsinline autoplay muted loop>
          <source src="../../assets/videos/hero_video.mp4" type="video/mp4" />
          If you can see this text then your browser does not support the video
          tag.
        </video>
        <div class="container animated-heading">
          <h1>Welcome to SynBio Source, Name</h1>
          <p class="lead">
            An online repository for Synthetic Biology Datasets.
          </p>
          <a href="#" class="btn btn-login">Login</a>
          <a href="#" class="btn btn-secondary">Datasets</a>
        </div>
        <!-- Scroll Down Indicator -->
        <div class="scroll-down">
          <div class="scroll-text">Scroll Down</div>
          <div class="arrow">
            <i class="bi bi-caret-down-fill"></i>
          </div>
        </div>
      </div>

      <!-- Information Section -->
      <section id="info-section" class="section-padding">
        <div class="container">
          <!-- Section Title -->
          <div class="row">
            <div
              class="col-12 text-center"
              data-aos="fade-down"
              data-aos-delay="150"
            >
              <div class="section-title">
                <h1 class="display-4 fw-semibold">About Us</h1>
                <div class="line"></div>
                <p>
                  SynBio Source is an open-source platform designed for the
                  Synthetic Biology community, enabling easy sharing and
                  management of datasets. It offers intuitive uploading and
                  searching capabilities, with the goal of fostering a unified
                  metadata standard to enhance accessibility and collaboration
                  within the field.
                </p>
              </div>
            </div>
          </div>
          <!-- Information Boxes -->
          <div class="row">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="150">
              <div
                class="info-box"
                style="background-color: #0e7472; color: #fff"
              >
                <i
                  class="bi bi-people-fill"
                  style="font-size: 8rem; margin-bottom: 10px"
                ></i>
                <h5 class="mt-4">Growing Community</h5>
                <p>
                  Join our ever-expanding community of enthusiasts and
                  professionals.
                </p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="250">
              <div
                class="info-box"
                style="background-color: #0e7472; color: #fff"
              >
                <i
                  class="bi bi-code-slash"
                  style="font-size: 8rem; margin-bottom: 10px"
                ></i>
                <h5 class="mt-4">Open-Source Code</h5>
                <p>Contribute to and benefit from our open-source resources.</p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="350">
              <div
                class="info-box"
                style="background-color: #0e7472; color: #fff"
              >
                <i
                  class="bi bi-bar-chart-line-fill"
                  style="font-size: 8rem; margin-bottom: 10px"
                ></i>
                <h5 class="mt-4">Expansive Datasets</h5>
                <p>Gain access to quality datasets across various domains.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <div class="footer">
      <p>By <strong>Aatish Dhawan</strong></p>
      <div>
        <a
          href="https://github.com/AatishDA1/SynBioSource.git"
          class="d-inline-block text-light me-2"
        >
          <i class="bi bi-github" style="font-size: 1.5rem"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/aatishdhawan/"
          class="d-inline-block text-light"
        >
          <i class="bi bi-linkedin" style="font-size: 1.5rem"></i>
        </a>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AOS Settings -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 900,
        offset: 120,
        once: false,
        mirror: false,
      });
    </script>
  </body>
</html>
