{% extends "base.html" %}
<!-- Login Form -->
{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="display-4 fw-semibold">Login</h1>
      <div class="line"></div>
      <!-- Alerts -->
      {% if messages %} {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        <div class="text-center">
          {% if message.tags == 'danger error' %}
          <i class="bi bi-exclamation-triangle-fill"></i>
          {% else %}
          <i class="bi bi-check-circle-fill"></i>
          {% endif %}
          <strong>{{ message }}</strong>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %}
      <!-- Error Message -->
      {% if error %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong>{{error}}</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %}
      <div class="card">
        <form method="POST" class="p-4 p-md-5 border rounded-3 bg-light">
          {% csrf_token %}
          <!-- Email Address -->
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control form-focus-color"
              id="floatingInput"
              placeholder="name@example.com"
              name="email"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <!-- Password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control form-focus-color"
              id="floatingPassword"
              name="password"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <button class="my-3 w-100 btn btn-lg btn-submit" type="submit">
            Submit
          </button>
          <a href="{% url 'forgot-password' %}" class="d-block mb-3 text-muted"
            >Forgot password?</a
          >
          <a href="{% url 'register' %}" class="d-block mb-3 text-muted"
            >Don't have an account? Sign up</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
